# Files

QtSE
QtSE_frontend
QtSE_backend
.directory
.ycm_extra_conf.py
.ycm_extra.conf.pyc
qt.cfg
cppcheck.sh
PoppyDebugTools.h

# Experimental VGLView backup

VGLView.h_
VGLView.h__
VGLView.cpp_
VGLView.cpp__

# Dirs

assets
debug
#QtSEProjects
experimental
release
resources
tinyobjloader

# Testing

*.moc_frontend
*.obj_frontend
*.moc_backend
*.obj_backend

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
*.obj
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
